@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
}

h1{
    font-size: 30px;
    font-weight: bold;
}
.App{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.jogo-main-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

img {
    width: 400px;
}

.jogo-botao-palavra-container {
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.btn-iniciar {
    margin-top: 50px;
    margin-right: 30px;
    background-color: #27AE60;
    color: #fff;
    width: 200px;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
}

.palavra-box {
    display: flex;
}

.botoes-letras-container{
    width: 664px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.botao-letras {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}

.chute-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 5px;
}